<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>TTN Data Display</title>
</head>
<body>
    <h1>The Things Network Data test</h1>
    <p>Data: <%= JSON.stringify(data) %></p>
</body>
</html>